<h1>Add Advert</h1>

<form action="/lost_cats" method="POST">
  <div>
    <label for="name">Name:</label>
    <br>
    <input type="text" id="name" name="name">
  </div>

  <div>
    <label for="description">Description:</label>
    <br>
    <input type="text" id="description" name="description">
  </div>

  <div>
    <label for="phone_number">Phone number:</label>
    <br>
    <input type="text" id="phone_number" name="phone_number">
  </div>

  <input type="submit" value="Post">
</form>